<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/094b02a8-a13b-4407-a481-8761616505c9/resourceGroups/BDSA2018/providers/Microsoft.Web/sites/PlanningPoker-WebApi</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://planningpoker-webapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>planningpoker-webapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PlanningPoker-WebApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PlanningPoker-WebApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>